<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tableViewProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E12F3BC11E2552A50096F96C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E12F3BD51E2552A50096F96C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E12F3BE01E2552A60096F96C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
